.sidebar-icon{
    -fx-fill:#292F35;
}
.sidebar-icon:hover{
    -fx-fill:#2BBFBD;
}
.online-dot{
    -fx-background-color: #00cc33;
    -fx-background-radius: 100%;    
}
.root
{
    -fx-background-image: url("../logo-bascla.png");
   
    -fx-background-repeat : stretch ;
   -fx-background-position-x: 1000px;
      -fx-background-position-y: -200px;

    -fx-effect: dropshadow( gaussian,rgba(0,0,0,0.16),5,0,0,2);

    

}
.det
{
    -fx-background-color: rgb(0, 166, 90);
    -fx-text-fill: white;
}
.li
{
    

    -fx-border-radius: 4;
    -fx-background-radius: 4px;
    -fx-font-weight:bold;
    -fx-font-size:20px;
    -fx-padding: 0 0 0 2;
}
.hbu
{
-fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.0, 0.7, 0.0,
        1.5);}
.parti
{
    -fx-background-color: #0081FF;
    -fx-text-fill: white;
}
.weekly{
-fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;   
}
.table{
    -fx-table-cell-border-color: transparent;
    -fx-effect: dropshadow( gaussian,rgba(0,0,0,0.16),5,0,0,2);
    -fx-background-radius: 3px;
    -fx-background-color: white;
    -fx-background-insets: 0;
}